@font-face {
    font-family: 'RMNeue';
    font-style: normal;
    src: local('RMNeue'), local('RMNeue-Regular'), url(./fonts/RMNeue-Regular.woff) format('woff');
}

body {
    background-color: #000000;
    color: #efc460;
    font-weight: normal;
    font-family: 'RMNeue', 'Courier New', Courier, monospace;
    font-size: 24px;   
    justify-content: center
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    padding: 10px;
    margin: 10px;
}

.editors {
    font-size: 18px;
}

#data-container {
    
   display: flex;
   flex-flow: row wrap;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
   height: 10em;
   margin: auto;
   padding: 10px;

    }

.data-item {    
    flex: 0 1 auto;
    align-self: auto;
}

li {
    list-style: none;
}

.images {
    display: inline-flex;
}