@font-face {
    font-family: 'RMNeue';
    font-style: normal;
    font-weight: regular;
    font-size: 24px;
    src: local('RMNeue'), local('RMNeue-Regular'), url(./fonts/RMNeue-Regular.woff) format('woff');
}

body {
    background-color: #000000;
    color: #efc460;
    font-weight: normal;
    font-family: 'RMNeue', 'Courier New', Courier, monospace;
    font-size: 19px;   
    justify-content: center
}

.container {
    margin: 0 auto;
    }

li {
    display: inline;
}

ul {
    list-style: none;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editors {
    font-size: 18px;
}

/* main body */
#data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    }
